<nav class="nav_bar">
  <div class="nav_container">
    <%= link_to main_path do %>
      <%= image_tag "ev_logo.png", alt: "Descriere poza",class: "w-32 h-auto transform transition-all hover:scale-[1.03] hover:-translate-y-3 logo_animation" %>
    <%end%>
    <% unless request.path == main_path%>
      <h1 class="nav_title">Energia verde: Viitorul incepe astazi</h1>
    <%end%>
    <div class="links_container">
      <%= physics_page? %>
      <%= biology_page? %>
      <%= chemistry_page? %>
    </div>
  </div>
</nav>
