<div class="flex items-start gap-20">

  <div class="sticky top-30 mt-10 -ml-20">
    <%= link_to "Back", main_path, class: "inline-block nav_links text-(--ev-pbg)! hover:text-(--ev-dark)! transition-all transform hover:scale-[1.1]" %>
  </div>
<section class="max-w-10xl mx-auto px-6 py-16">
  <div class="flex flex-wrap justify-center gap-6">
    
    <%= link_to bio_fuel_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Biocombustibilii</h3>
      <p class="paragraph_layout">
        O alternativă sustenabilă la combustibilii fosili, biocombustibilii sunt obținuți 
        din resurse naturale precum plantele și deșeurile organice. Acest material prezintă modul în care bioetanolul, 
        biodieselul și biogazul contribuie la reducerea poluării și la dezvoltarea unui sistem energetic mai verde.
      </p>
    <%end%>

    <%= link_to hydrogen_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Hidrogenul verde</h3>
      <p class="paragraph_layout">
        Hidrogenul verde este considerat combustibilul viitorului datorită producerii 
        sale fără emisii poluante. Documentul explică procesul de electroliză, 
        funcționarea pilelor de combustie și rolul hidrogenului în transport, 
        industrie și stocarea energiei regenerabile.
      </p>
    <%end%>

    <%= link_to sun_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Energia solară</h3>
      <p class="paragraph_layout">
        Energia solară transformă lumina Soarelui într-o sursă curată și 
        regenerabilă de electricitate. Materialul explorează funcționarea panourilor 
        fotovoltaice, rolul chimiei în captarea energiei și impactul tot mai mare 
        al energiei solare în România.
      </p>
    <%end%>

    <%= link_to energy_storage_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Stocarea energiei</h3>
      <p class="paragraph_layout">
        Stocarea energiei permite utilizarea eficientă a electricității produse 
        din surse regenerabile. Acest document prezintă principiile de funcționare 
        ale bateriilor moderne, în special cele litiu-ion, și importanța lor în tehnologia actuală și viitoare.
      </p>
    <%end%>

  </div>
</section>
</div>