<div class="flex items-start gap-20">

  <div class="sticky top-30 mt-10 -ml-20">
    <%= link_to "Back", main_path, class: "back_button nav_links" %>
  </div>
<section class="max-w-10xl mx-auto px-6 py-16">
  <div class="flex flex-wrap justify-center gap-6">

    <%= link_to hidro_energy_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Energia hidroelectrică</h3>
      <p class="paragraph_layout">
        Energia hidroelectrică transformă forța apei în electricitate prin intermediul turbinelor și 
        generatoarelor. Hidrocentralele folosesc energia potențială și cinetică a apei pentru a produce 
        energie curată și stabilă, fiind una dintre cele mai eficiente surse regenerabile utilizate în prezent
      </p>
    <%end%>

    <%= link_to solar_energy_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Energia solară</h3>
      <p class="paragraph_layout">
        Energia solară utilizează radiația emisă de Soare pentru a produce electricitate sau
        căldură. Panourile fotovoltaice transformă lumina solară în curent electric prin intermediul 
        celulelor semiconductoare, reprezentând una dintre cele mai rapide surse de energie regenerabilă aflate în dezvoltare.
      </p>
    <%end%>

    <%= link_to wind_energy_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Energia eoliană</h3>
      <p class="paragraph_layout">
        Energia eoliană reprezintă conversia energiei vântului în energie electrică folosind turbine eoliene. 
        Datorită emisiilor reduse și dezvoltării rapide a tehnologiei, aceasta a devenit una dintre principalele 
        soluții pentru reducerea poluării și tranziția către energie verde.
      </p>
    <%end%>

    <%= link_to nuclear_energy_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Energia nucleară</h3>
      <p class="paragraph_layout">
        Energia nucleară este obținută prin fisiunea nucleelor atomice, 
        proces care eliberează cantități uriașe de energie sub formă de căldură. Această
        căldură este utilizată pentru producerea electricității, iar tehnologiile
        moderne urmăresc creșterea siguranței și reducerea impactului asupra mediului.
      </p>
    <%end%>

    <%= link_to geo_thermal_energy_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Energia geotermală</h3>
      <p class="paragraph_layout">
        Energia geotermală provine din căldura naturală existentă în interiorul Pământului. 
        Apa și aburul încălzite în subteran pot fi folosite pentru producerea electricității 
        sau pentru încălzirea clădirilor, oferind o sursă constantă și regenerabilă de energie.
      </p>
    <%end%>

    <%= link_to tidal_energy_path, class: "text_box cards_design page_animation" do%>
      <h3 class="headers">Energia mareomotrică</h3>
      <p class="paragraph_layout">
        Energia mareomotrică exploatează mișcarea mareelor și curenților marini pentru 
        producerea electricității. Prin utilizarea turbinelor speciale instalate în zone 
        cu activitate mareică intensă, această tehnologie oferă o sursă predictibilă și regenerabilă de energie.
      </p>
    <%end%>
  </div>
  </section>
</div>